<div class="heading">
    <h3>Lecturer's Profile</h3>
</div>

<div class="row center">
    <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              List of Students
            </mat-panel-title>
            <mat-panel-description>
                All students associated with the lecturer !!!
            </mat-panel-description>
          </mat-expansion-panel-header>
          <list-students [lecturerId]="lecturerId"></list-students>
        </mat-expansion-panel>



        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              List of Degree's
            </mat-panel-title>
            <mat-panel-description>
              All degree's which the lecturer is responsible for !!!
            </mat-panel-description>
          </mat-expansion-panel-header>
          <list-degree  [lecturerId]="lecturerId"></list-degree>
        </mat-expansion-panel>


      </mat-accordion> 
      
      
      <button mat-raised-button color="primary" (click)="openStudentForm()">Add Student</button>

      
</div>


